<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Phoenix Base</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav role="navigation" class="nav">
      <div class="nav-left">
        <a class="nav-item is-brand title" href="/">
          Phoenix Base
        </a>
      </div>

      <div class="nav-center">
        <a class="nav-item is-active" href="/users">Users</a>
      </div>

      <div class="nav-right">
        <a class="nav-item" href="/sessions/new">Sign In</a>
        <a class="nav-item" href="/users/new">Sign Up</a>
      </div>
    </nav>

    <br>

    <div class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
